BACKEND_NODE_ENV=production
PORT=3001
URL=http://localhost:3001
CORS_ORIGINS=http://localhost:3000,https://sistema-demo-frontend.vercel.app/,https://*.trycloudflare.com

# Connect to Docker via mariadb
DATABASE_PROD_NAME=vivero_client_alpha
DATABASE_PROD_HOST=mariadb
DATABASE_PROD_PORT=3306
DATABASE_PROD_USERNAME=user
DATABASE_PROD_PASSWORD=password

DATABASE_PROD_URL="mysql://root:rootpassword@mariadb:3306/vivero_client_alpha"

# Connect to Docker via localhost
DATABASE_DEV_NAME=vivero_dev
DATABASE_DEV_HOST=localhost
DATABASE_DEV_PORT=3306
DATABASE_DEV_USERNAME=user
DATABASE_DEV_PASSWORD=password

DATABASE_DEV_URL="mysql://user:password@localhost:3306/vivero_dev"

# Connect to legacy database
DATABASE_LEGACY_NAME=martin3
DATABASE_LEGACY_HOST=sistemademo-mariadb-legacy-1
DATABASE_LEGACY_PORT=3306
DATABASE_LEGACY_USERNAME=nestjs_legacy
DATABASE_LEGACY_PASSWORD=readonly_pass

DATABASE_LEGACY_URL="mysql://nestjs_legacy:readonly_pass@sistemademo-mariadb-legacy-1:3306/martin3"

JWT_SECRET=your_32_plus_character_super_secret_key_here_123456
JWT_EXPIRES_IN=45m
JWT_REFRESH_SECRET=your_32_plus_character_super_secret_refresh_key_here_123456
JWT_REFRESH_EXPIRES_IN=7d

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=plant-mgmt-files
SENDGRID_API_KEY=

# Default tenant ID
DEFAULT_TENANT_ID=12345678-1234-1234-1234-123456789012
DEFAULT_PASSWORD=123456



